@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: white;
  --background-color: linear-gradient(
    to bottom,
    rgb(1, 141, 255),
    rgb(0, 204, 255)
  );
  --background-shade: rgba(0, 0, 0, 0.2);
  --universal-width: 70%;
  --section-margin: 20px 0px;
  --section-border-radius: 40px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--background-shade) inset;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s; /* Prevent flash */
}

input::placeholder {
  color: rgb(177, 177, 177);
  opacity: 1;
  font-style: italic;
}

body {
  background: var(--background-color);
  min-height: 100vh;
}

.dark {
  --background-color: linear-gradient(
    to bottom,
    rgb(1, 1, 179),
    rgb(0, 77, 192)
  );
}

button,
#submit-button {
  cursor: pointer;
}

#page-name {
  padding: 16px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

#searchbar-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0px;
}

.form-wrapper {
  background: var(--background-shade);
  border-radius: 40px;
  display: flex;
  align-items: center;
}

#searchbox,
#submit-button {
  background: transparent;
  border-radius: 40px;
  color: white;
  border: none;
  height: 40px;
}

#searchbox {
  width: 40vw;
  padding-left: 10px;
  font-size: 1rem;
}

#searchbox:focus {
  outline: none;
  border: 1px solid white;
}

#submit-button {
  padding: 0px 10px;
  font-size: 30px;
}

#theme-toggle {
  border: none;
  height: 40px;
  background: transparent;
}

#theme-icon {
  max-width: 40px;
  max-height: 40px;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-shade);
  border-radius: var(--section-border-radius);
  width: var(--universal-width);
  margin: var(--section-margin);
}

.section-heading {
  padding: 16px 0px;
  text-align: center;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}

.today-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-item.today-left,
.today-item.today-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.today-item.today-left img {
  max-width: 60%;
  max-height: 60%;
}

.today-item.today-description {
  text-align: center;
  padding: 0px 16px;
}

.today-item.today-temp {
  font-size: 900%;
}

.today-item.today-range {
  flex-direction: column;
}

.today-item.today-right h2 {
  padding: 4px 0px;
}

.future-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
  width: 100%;
}

.future-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.future-item img {
  height: 40%;
  width: auto;
}

.future-date {
  font-size: 1.3rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }

  header {
    padding: 0px 20px;
  }

  #searchbar-form {
    position: static;
    left: unset;
    transform: none;
  }

  .section-heading {
    font-size: 1.3rem;
  }
  .main-section-container {
    width: 90%;
  }

  .today-item.today-temp {
    font-size: 6rem;
  }

  .today-item.today-description {
    text-align: center;
    width: 100%;
    padding: 10px 10px;
  }

  .future-section {
    flex-direction: column;
    padding: 0px 30px 20px 30px;
  }

  .future-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
  }

  .future-item img {
    width: 15%;
    height: auto;
  }

  .future-date,
  .future-temps {
    font-size: 1.3rem;
  }
}
