@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: white;
  --sunny-background: linear-gradient(
    to bottom,
    rgb(1, 141, 255),
    rgb(0, 204, 255)
  );
  --background-shade: rgba(0, 0, 0, 0.2);
  --universal-width: 60%;
  --section-margin: 20px 0px;
  --section-border-radius: 40px;
}

button,
#submit-button {
  cursor: pointer;
}

.main-container {
  background: var(--sunny-background);
  min-height: 100vh;
  text-align: center;
}

#searchbar-form {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.form-wrapper {
  background: var(--background-shade);
  border-radius: 40px;
  display: flex;
  align-items: center;
}

#searchbox,
#submit-button {
  background: transparent;
  border-radius: 40px;
  color: white;
  border: none;
  height: 40px;
}

#searchbox {
  width: 40vw;
  padding-left: 10px;
  font-size: 1rem;
}

#searchbox:focus {
  outline: none;
  border: 1px solid white;
}

#submit-button {
  padding: 0px 10px;
  font-size: 30px;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-shade);
  border-radius: var(--section-border-radius);
  width: var(--universal-width);
  margin: var(--section-margin);
}

.section-heading {
  padding: 16px 0px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 400px;
  width: 100%;
}

.today-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-item.today-top-left {
  display: flex;
  justify-content: center;
}

.today-item.today-top-left img {
  max-width: 70%;
  max-height: 70%;
}

.today-item.today-top-right {
  font-size: 900%;
}

.today-item.today-bottom-right {
  flex-direction: column;
}

.today-item.today-bottom-right h2 {
  padding: 10px 0px;
}

.future-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
  width: 100%;
}

.future-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.future-item img {
  height: 40%;
  width: auto;
}

.future-date {
  font-size: 1.3rem;
}
