@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: white;
  --background-color: linear-gradient(
    to bottom,
    rgb(1, 141, 255),
    rgb(0, 204, 255)
  );
  --background-shade: rgba(0, 0, 0, 0.2);
  --universal-width: 60%;
  --section-margin: 20px 0px;
  --section-border-radius: 40px;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
  color: rgb(177, 177, 177);
  opacity: 1;
  font-style: italic;
}

body {
  background: var(--background-color);
  min-height: 100vh;
}

.dark {
  --background-color: linear-gradient(
    to bottom,
    rgb(0, 0, 156),
    rgb(1, 58, 145)
  );
}

button,
#submit-button {
  cursor: pointer;
}

#page-name {
  padding: 16px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

#searchbar-form {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.form-wrapper {
  background: var(--background-shade);
  border-radius: 40px;
  display: flex;
  align-items: center;
}

#searchbox,
#submit-button {
  background: transparent;
  border-radius: 40px;
  color: white;
  border: none;
  height: 40px;
}

#searchbox {
  width: 40vw;
  padding-left: 10px;
  font-size: 1rem;
}

#searchbox:focus {
  outline: none;
  border: 1px solid white;
}

#submit-button {
  padding: 0px 10px;
  font-size: 30px;
}

#theme-toggle {
  border: none;
  height: 40px;
  background: transparent;
}

#theme-icon {
  max-width: 40px;
  max-height: 40px;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-shade);
  border-radius: var(--section-border-radius);
  width: var(--universal-width);
  margin: var(--section-margin);
}

.section-heading {
  padding: 16px 0px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}

.today-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-item.today-left,
.today-item.today-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.today-item.today-left img {
  max-width: 70%;
  max-height: 70%;
}

.today-item.today-temp {
  font-size: 900%;
}

.today-item.today-range {
  flex-direction: column;
}

.today-item.today-bottom-right h2 {
  padding: 10px 0px;
}

.future-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
  width: 100%;
}

.future-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.future-item img {
  height: 40%;
  width: auto;
}

.future-date {
  font-size: 1.3rem;
}
