* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  color: white;
  --sunny-background: linear-gradient(
    to bottom,
    rgb(1, 141, 255),
    rgb(0, 204, 255)
  );
  --background-shade: rgba(0, 0, 0, 0.15);
}

html {
}

button,
#submit-button {
  cursor: pointer;
}

.main-container {
  background: var(--sunny-background);
  min-height: 100vh;
  text-align: center;
}

#searchbar-form {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.form-wrapper {
  background: var(--background-shade);
  border-radius: 40px;
}

#searchbox,
#submit-button {
  background: rgba(0, 0, 0, 0);
  border-radius: 40px;
  color: white;
  border: none;
  height: 40px;
}

#searchbox {
  width: 40vw;
  padding-left: 10px;
  font-size: 1rem;
}

#searchbox:focus {
  outline: none;
  border: 1px solid white;
}

#submit-button {
  padding: 0px 10px;
  font-size: 30px;
}
.today-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 60%;
  height: 400px;
  background: var(--background-shade);
}

.today-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.future-item img {
  height: 30px;
  width: auto;
}
